<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Alerta Assinador</title>
</head>

<body>
  <h2>Olá! </h2>
  <p>O Nome/CPF no contrato do cliente {{personName}}, não foi cadastrado. </p>

  <p>Corrija esta informação e arraste novamente o card para a fase de "Aguardando assinatura".</p>
</body>

</html>